.item {
    border: 1px solid black;
    width: 370px;
    margin-top: 10px;
    border-radius: 5px;
    height:  30px;
    position: relative;
    cursor: pointer;
}

.item p {
    font-size: 18px;
    margin: 0 10px;
    display: inline-block;
    width: 320px;
    word-break: break-all;
}

.item input {
    font-size: 18px;
    width: 320px;
    height: 100%;
    border: 0px;
    margin: 0 10px;
}

.item input::selection {
    background: none; /* WebKit/Blink Browsers */
  }

.item p:focus {
    background-color: red;
}

.item img {
    width: 15px;
   
}

.item div {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

@media only screen and (max-width: 400px) {
    .item {
        width: 250px;
    }

    .item p {
        width: 200px;
    }
}