header form {
    display: inline-block;
}

.search {
    display: block;
    font-size: 18px;
    width: 170px;
    margin-left: 10px;
}

.additem {
    width: 250px;  
}

.additem, .search {
    font-size: 18px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #c7c7c7;
}

.button {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #818181;
    color: #818181;
    font-size: 15px;
    width: 80px;
    margin-left: 30px;
    cursor: pointer;
}

.second{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
}

h1 {
    margin: 20px 0;
}


@media only screen and (max-width: 400px) {
    * {
        margin: 0;
        padding: 0;
    }

    .button {
        display: block;
        width: 100px;
        margin: 0;
        margin-top: 10px;
    }

    .second{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .search {
        margin:0;
        margin-top: 10px;
        
    }

    .additem, .search, .button,.second {
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        text-align: center;
    }
  }