* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.App {
  width: 100vw;
  display: flex;
  justify-content: center;
}

input:focus, button:focus{
  outline: none;
}

@media only screen and (max-width: 400px) {
  .App div {
    display: flex;
    flex-direction: column;
  }
}


