.all li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    width: auto;
    margin: 0;
    width: 60px;
    text-align: center;
}

.center {
    border-left : 2px  solid #aaa9a9;
    border-right : 2px  solid #aaa9a9;
    
}

.all {
    margin: 0;
    padding: 0;
    display: block;
    border: 1px solid #aaa9a9;
    color: #818181;
    height: 30px;
    width: 180px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    border-radius: 5px;
}

.clicked {
    color: black;
}

@media only screen and (max-width: 400px) {
    * {
        margin: 0;
        padding: 0;
    }

    .all {
        width: 200px;
    }
}